/nuevoSistemaVenta/target/
/PruebaDataTable/target/
/ProyectoBase/target/
/Taller3ro/target/
/com.mycompany_ProyectoBase_war_1.0-SNAPSHOT/target/
/ProycetoPantillaMatrixAdmin/target/
/sistemaVentasPrueba/build/
